.App { 
  color:  #FF9800;
  font-style: none;
  font-family: "Bebas Neue", sans-serif;
}


body {
  margin: 0;
  background-color: rgb(0, 46, 0);
}

nav {
  background-color:rgb(0, 46, 0);
  padding: 15px;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 22px;
  justify-content: space-between;
}

  

.links:hover {
  color: whitesmoke /* Cambiar el color al pasar el mouse */
}